@model LibraryManagementSystem.Models.Book_Issue_Return

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Fixed Footer Layout</h1>
                </div>
                <div class="col-sm-6">
                    @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Layout</a></li>
                        <li class="breadcrumb-item active">Fixed Footer Layout</li>
                    </ol>*@
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User Create</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            @*@Start creating your amazing application!@*@
                            <h2 style="text-align: center; color: chocolate">Details</h2>

                            <div>
                                <h4>Book_Issue_Return</h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Book.book_name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Book.book_name)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Member.member_name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Member.member_name)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.book_details_id)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.book_details_id)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.issue_date)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.issue_date)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.due_date)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.due_date)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.return_date)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.return_date)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.quantity)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.quantity)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.status)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.status)
                                    </dd>

                                </dl>
                            </div>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.issue_id }) |
                                @Html.ActionLink("Back to List", "Index")
                            </p>


                            @*@Start creating your amazing application!@*@
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            Create Book
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

