@model IEnumerable<LibraryManagementSystem.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Fixed Footer Layout</h1>
                </div>
                <div class="col-sm-6">
                    @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Layout</a></li>
                        <li class="breadcrumb-item active">Fixed Footer Layout</li>
                    </ol>*@
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User Create</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            @*@Start creating your amazing application!@*@
                            <h2 style="text-align: center; color: chocolate">Employee Information</h2>

                            <p class="btn btn-warning" style="margin-left:900px;color:white;">
                                @Html.ActionLink("Create New", "Create")
                            </p>
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.user_type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.first_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.last_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.user_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.user_password)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.join_date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.picture)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.user_type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.first_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.last_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.user_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.user_password)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.join_date)
                                        </td>

                                        <td>
                                            <img src="@Url.Content(item.picture)" width="50" height="50" class="img-rounded" />
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.employee_id }, new { @class = "btn btn-success" })
                                            @Html.ActionLink("Details", "Details", new { id = item.employee_id }, new { @class = "btn btn-info" })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.employee_id }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }

                            </table>


                            @*@Start creating your amazing application!@*@
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            Create Book
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
